:root {
  //Region colors
  --color-islands: #d71e44;
  --color-islands-dark: #9e1b34;
  --color-islay: #a5238E;
  --color-islay-dark: #6e2671;
  --color-highlands: #563494;
  --color-highlands-dark: #322773;
  --color-lowlands: #0663ae;
  --color-lowlands-dark: #174272;
  --color-speyside: #1ab467;
  --color-speyside-dark: #007b46;
  --color-campbeltown: #f3b41b;
  --color-campbeltown-dark: #d29d2a;
  
  --page-padding-inline: 0.75rem;

  @media screen and (min-width: 550px) {
    --page-padding-inline: 2rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}